h2 {
  color: brown;
}
h3 {
  color: MediumSeaGreen;
}
body {
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 0.875em;
  width: 65%;
}

#intro-title {
  color: #0bb546;
}
#intro {
  width: 90%;
  padding: 10px;
  border: 2px solid #0ab078;
  border-radius: 15px;
}

ol {
  list-style: none; 
  padding-left: 20px;
}

ol li {
  counter-increment: list-item; 
  position: relative;
}

ol li::before {
  content: counter(list-item) ". ";
  color: #0bb546; 
  position: absolute;
  left: -20px;
}

body {
  background-image: url("Images/Islam-white-Image.jpeg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
