#navigation_bar{
    background-color: #16a085;  
    gap: 20px;
    padding: 15px;
    position: absolute;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

#navigation_bar a {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

#navigation_bar a:hover {
    background-color: white;
    color: #16a085;
}


h2 {
  color: brown;
}
h3 {
  color: MediumSeaGreen;
}
body {
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 0.875em;
  width: 65%;
  margin: 5px;
  overflow-x: hidden;
  margin-top: 60px;
}

ol {
  list-style: none; 
  padding-left: 20px;
  margin-left: 20px;
}

ol li {
  counter-increment: list-item; 
  position: relative;
}

ol li::before {
  content: counter(list-item) ". ";
  color: #0bb546; 
  position: absolute;
  left: -20px;
}

body {
  background-image: url("Images/Islam-white-Image.jpeg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.image-container {
    display: flex; 
    gap: 10px;
    align-items: flex-start;
}

.Pokemon_1, .Ninjago_1 {
    width: auto;
    height: 300px;
    object-fit: cover;
}
.Islam_1 {
    width: auto;
    height: 300px;
    object-fit: cover;
}

@keyframes slideIn {
    from {
        transform: translateX(-100vw); /* Start off-screen */
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.image-container {
    animation: slideIn 1s ease-out;
}


#intro-title {
  color: #0bb546;
}

#intro {
  width: 90%;
  padding: 10px;
  border: 2px solid #0ab078;
  border-radius: 15px;
}

#random{
  width: 90%;
} 

#border {
  border-left-color: 2px solid black;
  background-color: #24DB80; 
  border-radius: 15px; 
  border-top-left-radius: 0; 
  border-bottom-left-radius: 0; 
  width: 25%;
}
#border_1 {
  border-left-color: 2px solid black;
  background-color: #24DB80; 
  border-radius: 15px; 
  border-top-left-radius: 0; 
  border-bottom-left-radius: 0; 
  width: 30%;
}
